# Homework 1 - Python
Reid Otsuji adapted from Tim Dennis

###  Instructions:

1. Rename the notebook (click on the title at the top of the page next to 'jupyter') to your A number, name and HW1Py:
   example: "Reid-Otsuji-A1234567-HW1Py"
2. Add your code or markdown answers under the questions. 
3. `File>Download as` a 'notebook'. NOTE: Jupyter notebook is constantly auto-saving as a *.ipynb to whatever directory you have opened it in.
4. Upload to TritonED in Assignment 1 upload.

**POINTS: 50 Points, each worth 6.25 points**

## 1. Included you name, student ID number (A number), and email as a markdown list 

It should appear like this: 

* Reid Otsuji
* A1234567
* [rotsuji@ucsd.edu](mailto:rotsuji@ucsd.edu)

<!-- Change cell to Markdown and use * for bullets -->

* Reid Otsuji
* A1234567
* rotsuji@ucsd.edu <!--Extra Credit: add mailto url link-->

## 2. Using the print() function: 

1. Assign your name to a variable named `my_name`. 
2. Assign your student_id to a variable named `a_number`. 
3. Assign your email to a variable named `email`.  
4. Using a single print statement, print out a single string that reads like so: 

>Hello, my name is `my_name` and my student ID number is `a_number`. Please email me at `email`.

## 3. Slicing a string

Given the following string:

In [1]:
tri = "triton"

How would you extract just the "on" from "triton". Remember the slicing operator `:`. You can read about slicing strings here: https://docs.python.org/3/tutorial/introduction.html#strings

In [15]:
tri[-2:6]

'on'

**Extra credit:** How would you reverse the `tri` string?  Hint: use the [start:stop:step] slice.

In [16]:
tri[6:-7:-1]

'notirt'

## 4. Reading data into pandas

1. Load pandas into the notebook environment. Hint: to load a library we use the keyword `import`
2. Create a variable called `data` and read the `gapminder_gdp_oceania.csv` using pandas. Pandas has the ability to read in files in numerous formats. Start typing `panads.read` and hit tab to see the options.  
3. You can read this file from this URL: https://raw.githubusercontent.com/ucsdlib/python-novice-gapminder/gh-pages/data/gapminder_gdp_oceania.csv -- use this URL instead of the file name. Hint: You still need to quote it. 
4. Print out the columns in the dataframe. Hint: See the [basic functionality](http://pandas.pydata.org/pandas-docs/stable/basics.html) section of the Pandas help site.

In [17]:
import pandas

In [18]:
data = pandas.read_csv('https://raw.githubusercontent.com/ucsdlib/python-novice-gapminder/gh-pages/data/gapminder_gdp_oceania.csv')

In [19]:
#your answer:
data.columns

Index(['country', 'gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962',
       'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982',
       'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002',
       'gdpPercap_2007'],
      dtype='object')

## Selecting from a DataFrame

First, we will `import pandas` and the load the `gapminder_gdp_eruope.csv`:

In [20]:
import pandas
data = pandas.read_csv('https://goo.gl/TrauaS',
                      index_col='country')

We can exampe the top lines by using `data.head()`:

In [21]:
data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

**Provide the following answers for each question in the code cell by using the print() and your selection, so print(data.ix['Bulgaria'])**

## 5. GDP per capita for all countries in 1982.

In [22]:
data['gdpPercap_1982']

country
Albania                    3630.880722
Austria                   21597.083620
Belgium                   20979.845890
Bosnia and Herzegovina     4126.613157
Bulgaria                   8224.191647
Croatia                   13221.821840
Czech Republic            15377.228550
Denmark                   21688.040480
Finland                   18533.157610
France                    20293.897460
Germany                   22031.532740
Greece                    15268.420890
Hungary                   12545.990660
Iceland                   23269.607500
Ireland                   12618.321410
Italy                     16537.483500
Montenegro                11222.587620
Netherlands               21399.460460
Norway                    26298.635310
Poland                     8451.531004
Portugal                  11753.842910
Romania                    9605.314053
Serbia                    15181.092700
Slovak Republic           11348.545850
Slovenia                  17866.721750
Spain                     13926.169970
Sweden                    20667.381250
Switzerland               28397.715120
Turkey                     4241.356344
United Kingdom            18232.424520
Name: gdpPercap_1982, dtype: float64

## 6. GDP per capita for Denmark for all years.

In [23]:
data.loc['Denmark',:]

gdpPercap_1952     9692.385245
gdpPercap_1957    11099.659350
gdpPercap_1962    13583.313510
gdpPercap_1967    15937.211230
gdpPercap_1972    18866.207210
gdpPercap_1977    20422.901500
gdpPercap_1982    21688.040480
gdpPercap_1987    25116.175810
gdpPercap_1992    26406.739850
gdpPercap_1997    29804.345670
gdpPercap_2002    32166.500060
gdpPercap_2007    35278.418740
Name: Denmark, dtype: float64

## 7. GDP per capita for all countries for years after 1985.

In [24]:
data.loc[:,'gdpPercap_1985':]

,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,
Albania,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820
Croatia,13822.583940,8447.794873,9875.604515,11628.388950,14619.222720
Czech Republic,16310.443400,14297.021220,16048.514240,17596.210220,22833.308510
Denmark,25116.175810,26406.739850,29804.345670,32166.500060,35278.418740
Finland,21141.012230,20647.164990,23723.950200,28204.590570,33207.084400
France,22066.442140,24703.796150,25889.784870,28926.032340,30470.016700
Germany,24639.185660,26505.303170,27788.884160,30035.801980,32170.374420
Greece,16120.528390,17541.496340,18747.698140,22514.254800,27538.411880
Hungary,12986.479980,10535.628550,11712.776800,14843.935560,18008.944440
Iceland,26923.206280,25144.392010,28061.099660,31163.201960,36180.789190
Ireland,13872.866520,17558.815550,24521.947130,34077.049390,40675.996350
Italy,19207.234820,22013.644860,24675.024460,27968.098170,28569.719700
Montenegro,11732.510170,7003.339037,6465.613349,6557.194282,9253.896111
Netherlands,23651.323610,26790.949610,30246.130630,33724.757780,36797.933320
Norway,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170
Poland,9082.351172,7738.881247,10159.583680,12002.239080,15389.924680
Portugal,13039.308760,16207.266630,17641.031560,19970.907870,20509.647770
Romania,9696.273295,6598.409903,7346.547557,7885.360081,10808.475610
Serbia,15870.878510,9325.068238,7914.320304,7236.075251,9786.534714
Slovak Republic,12037.267580,9498.467723,12126.230650,13638.778370,18678.314350
Slovenia,18678.534920,14214.716810,17161.107350,20660.019360,25768.257590
Spain,15764.983130,18603.064520,20445.298960,24835.471660,28821.063700
Sweden,23586.929270,23880.016830,25266.594990,29341.630930,33859.748350
Switzerland,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
Turkey,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280

## 8. GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.

In [25]:
data['gdpPercap_2007']/data['gdpPercap_1952']

country
Albania                   3.708196
Austria                   5.886596
Belgium                   4.038377
Bosnia and Herzegovina    7.648736
Bulgaria                  4.369697
Croatia                   4.686795
Czech Republic            3.320658
Denmark                   3.639808
Finland                   5.168805
France                    4.334402
Germany                   4.503060
Greece                    7.799725
Hungary                   3.421364
Iceland                   4.978308
Ireland                   7.806873
Italy                     5.793425
Montenegro                3.495221
Netherlands               4.115376
Norway                    4.889067
Poland                    3.819475
Portugal                  6.684325
Romania                   3.437140
Serbia                    2.732555
Slovak Republic           3.680703
Slovenia                  6.113405
Spain                     7.517163
Sweden                    3.970493
Switzerland               2.545529
Turkey                    4.295502
United Kingdom            3.327144
dtype: float64